
@{
    Layout = null;
    ViewBag.Title = "RanijiTreninzi";
}

<html>
<head>
    <style type="text/css">
        a.linkZaPocetnu:link, a.linkZaPocetnu:visited {
            background-color: white;
            color: black;
            border: 2px solid red;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-left: 40px;
            float: left;
        }
        th{
            background-color: darkgray;
        }
        a.linkZaPocetnu:hover, a.linkZaPocetnu:active {
            background-color: red;
            color: white;
        }
        h1{
            text-align:center;
            margin-top: 30px;
        }
        #komentar{
            color: crimson;
        }
        table.detalji, tr.detalji {
            border: 2px solid;
            border: inset;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            border-spacing: 20px 0;
            color:blueviolet;
            font-size: medium;
            text-align: center;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        th, td {
            border: 1px solid;
            padding: 10px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        #pomeriLevo{
            margin-left:100px;
            padding-left:10px;
            width:460px;
            border: 2px solid blue; 
            float:left;
            height:370px;
        }
        .button {
            background-color: white;
            border: none;
            color: black;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border: 2px solid #008CBA;
        }

            .button:hover {
                background-color: #008CBA;
                color: white;
            }
    </style>
</head>
<body>
    <h3><a href="~/Home/Index" class="linkZaPocetnu">Vrati se na pocetnu stranicu</a></h3>
    <br /><br />
    <h1>Treninzi na kojima ste bili</h1>
    <br />

    <table class="detalji">
        <tr>
            <th>Naziv</th>
            <th>Tip treninga</th>
            <th>Odrzava fitnes centar</th>
            <th>Trajanje</th>
            <th>Datum i vreme</th>
            <th>Maksimalan broj posetioca</th>
            <th>Broj posetioca</th>
        </tr>
        @foreach (var item in ViewBag.grupniTreninzi)
        {
            if (item.Obrisan == "AKTIVAN")
            {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.TipTreninga</td>
                <td>@item.FitnesCentarOdrzava.Naziv</td>
                <td>@item.TrajanjeTreningaMinute</td>
                <td>@Convert.ToDateTime(item.DatumIVremeTreninga).ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.MaksimalanBrojPosetioca</td>
                <td>@item.SpisakPosetilaca.Count</td>
            </tr>
            }
        }
    </table>

    <br /><br />
    <div id="pomeriLevo">
        <h2>Pretraga</h2>
        <form action="~/Posetilac/Pretraga" method="post">
            Naziv grupe:<input type="text" name="naziv" /><br />
            Naziv fitnes centra:<input type="text" name="fitnesCentarOdrzava" /><br />
            Tip treninga:<input type="text" name="tipTreninga" /><br />
            <input type="submit" class="button" value="Pretrazi" />
        </form><br />
    </div>

    <div id="pomeriLevo">
        <h2>Sortiraj</h2>
        <form action="~/Posetilac/Sortiraj" method="post">
            Rastuce <input type="radio" name="sort" value="rastuce" checked="checked" /><br />
            Opadajuce <input type="radio" name="sort" value="opadajuce" /><br />
            <button class="button" type="submit" name="submit" value="naziv">Sortiraj po nazivu</button><br />
            <button class="button" type="submit" name="submit" value="tipTreninga">Sortiraj po tipu treninga</button><br />
            <button class="button" type="submit" name="submit" value="datumIVremeTreninga">Sortiraj po datumu i vremenu</button><br />
        </form>
    </div>

    <div id="pomeriLevo">
        <h2>Ostavite komentar o fitnes centru:</h2>
        <form action="~/Posetilac/OstaviKomentar" method="post">
            Naziv fitnes centra:<input type="text" name="fitnesCentarKomentarisan" /><br />
            Ocena fitnes centra:<input type="number" name="ocena" min="1" max="5" /><br /><br />
            Komentar:<textarea type="text" name="tekstKomentara" cols="55" rows="8" ></textarea><br /><br />
            <input type="submit" class="button" value="Posalji komentar" />
        </form>
        <h3 id="komentar">@ViewBag.poslatNaPregled</h3>
    </div>
    <br />

</body>
</html>


