
@{
    Layout = null;
    ViewBag.Title = "Modifikuj";
}

<html>
<head>
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 20px;
        }

        h2.fc {
            text-shadow: 1px 1px 1px red, 2px 2px 1px red;
        }

        p.ocena {
            text-decoration: underline blue;
        }

        h2, p {
            margin-left: 20px;
            color:crimson;
        }
        table.predstojeciTreninzi, th, td {
            border: 2px solid;
            padding: 8px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border-left-color: blue;
            border-right-color: crimson;
            border-top-color: blue;
            border-bottom-color: crimson;
        }
            td.modifikovanje {
                border: 2px solid;
                padding: 8px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                border-left-color: blue;
                border-right-color: crimson;
                border-top-color: blue;
                border-bottom-color: crimson;
                width:400px;
            }

        a.linkZaPocetnu:link, a.linkZaPocetnu:visited {
            background-color: white;
            color: black;
            border: 2px solid red;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-left: 40px;
            float: left;
        }

        a.linkZaPocetnu:hover, a.linkZaPocetnu:active {
            background-color: red;
            color: white;
        }

        #centar {
            margin-left: 80px;
        }
        .button {
            background-color: white;
            border: none;
            color: black;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border: 2px solid #555555;
        }

            .button:hover {
                background-color: #555555;
                color: white;
            }
    </style>
</head>
<body>
    <div id="pomeri">
        <h3><a href="~/Home/Index" class="linkZaPocetnu">Vrati se na pocetnu stranicu</a></h3>
        <h3><a href="~/Trener/Index?naziv=@ViewBag.naziv" class="linkZaPocetnu">Nazad na prethodnu stranicu</a></h3>
        <br /><br />
    </div>
    <div id="centar">
        <h1>Vasi predstojeci treninzi</h1>
        <h2>@ViewBag.modifikujTrening</h2>
        <table class="predstojeciTreninzi">
            <tr>
                <th>Grupa</th>
                <th>Tip treninga</th>
                <th>Odrzava fitnes centar</th>
                <th>Trajanje</th>
                <th>Datum i vreme</th>
                <th>Maksimalan broj posetioca</th>
                <th>Broj posetioca</th>
            </tr>
            @if (ViewBag.stariTreninzi != null)
            {
                foreach (var item in ViewBag.treninziAngazovan)
                {
                    if (item.Obrisan == "AKTIVAN")
                    {
                        <tr>
                            <td>@item.Naziv</td>
                            <td>@item.TipTreninga</td>
                            <td>@item.FitnesCentarOdrzava.Naziv</td>
                            <td>@item.TrajanjeTreningaMinute</td>
                            <td>@Convert.ToDateTime(item.DatumIVremeTreninga).ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.MaksimalanBrojPosetioca</td>
                            <td>@item.SpisakPosetilaca.Count</td>
                            <td class="modifikovanje">
                                <form action="~/Trener/ModifikujTreningTxt?stariDatum=@Convert.ToDateTime(item.DatumIVremeTreninga).ToString("dd/MM/yyyy HH:mm")" method="post">
                                    Grupa:<input type="text" name="naziv" value="@item.Naziv" /><br />
                                    Tip treninga:<input type="text" name="tipTreninga" value="@item.TipTreninga" /><br />
                                    Trajanje u minutama:<input type="number" name="trajanjeTreningaMinute" /><br />
                                    Datum i vreme odrzavanja:<input type="datetime-local" name="datumIVremeTreninga" /><br />
                                    Maksimalan broj posetioca:<input type="number" name="maksimalanBrojPosetioca" value="@item.MaksimalanBrojPosetioca" /><br /><br />
                                    <input type="submit" class="button" value="Modifikuj trening" />
                                </form>
                            </td>
                        </tr>
                    }
                }
            }
        </table><br />
    </div>
</body>
</html>
