
@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style type="text/css">
        tr.naslov{
            text-align: center;
        }
        table,th,td{
            border: 1px solid;
        }
        h2{
            color: cadetblue;
        }
        .linkButton {
            background-color: lightgrey;
            color: black;
            text-decoration: none;
            font-family: Arial;
            font-size:15px;
        }
        
        #first {
            margin-top: 20px;
            margin-left: 40px; /*od ivice*/
            padding-left:10px; /*od ivice diva*/
            padding-right:10px;
            width: auto;
            height: auto;
            float: left;
            /* border: 3px solid red; */
        }

        #second {
            border: 3px solid blue;
            float: left;
            height: 500px;
            width: 350px;
            margin-top: 20px;
            margin-left: 200px; /*od ivice*/
            padding-left: 10px; /*od ivice diva*/
            padding-right: 10px;
        }
        #third {
            border: 3px solid red;
            float: left;
            height: 500px;
            width: 350px;
            margin-top: 20px;
            margin-left: 200px; /*od ivice*/
            padding-left: 10px; /*od ivice diva*/
            padding-right: 10px;
        }
        .button {
            background-color: white;
            border: none;
            color: black;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border: 2px solid #008CBA;
        }
        .button:hover {
            background-color: #008CBA;
            color: white;
        }
        .button2 {
            background-color: white;
            border: none;
            color: black;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border: 2px solid #f44336;
        }

        .button2:hover {
            background-color: #f44336;
            color: white;
        }
    </style>
</head>
<body>
    <div id="first">
        <h1>Pretraga</h1>
        <form action="~/Home/Pretraga" method="post">
            Naziv:<input type="text" name="naziv" /><br />
            Adresa:<input type="text" name="adresa" /><br />
            Godina otvaranja od:<input type="text" name="godinaOtvaranjaOd" /><br />
            Godina otvaranja do:<input type="text" name="godinaOtvaranjaDo" /><br />
            <input type="submit" class="button" value="Pretrazi" />
        </form><br />

        <h1>Sortiraj</h1>
        <form action="~/Home/Sortiraj" method="post">
            Rastuce <input type="radio" name="sort" value="rastuce" checked="checked" /><br />
            Opadajuce <input type="radio" name="sort" value="opadajuce" /><br />
            <button type="submit" class="button" name="submit" value="naziv">Sortiraj po nazivu</button><br />
            <button type="submit" class="button" name="submit" value="adresa">Sortiraj po adresi</button><br />
            <button type="submit" class="button" name="submit" value="godinaOtvaranja">Sortiraj po godini otvaranja</button><br />
        </form><br />

        <h2>Fitnes centri</h2>
        <form action="~/Home/Detalji" method="post">
            <table>
                <tr class="naslov">
                    <th>Naziv</th>
                    <th>Adresa</th>
                    <th>Godina otvaranja</th>
                    <th></th>
                </tr>
                @foreach (var fitnesCentar in ViewBag.fitnesCentri) //moras inicijalizovati(ili u global.asax) bar 1 ako kaze 'Object reference not set to an instance of an object.'
                {
                    if (fitnesCentar.ObrisanFC != "ObrisanFC")
                    {
                        <tr>
                            <td>@fitnesCentar.Naziv</td>
                            <td>@fitnesCentar.Adresa</td>
                            <td>@fitnesCentar.GodinaOtvaranja</td>
                            <td><a class="linkButton" href="/Home/Detalji?naziv=@fitnesCentar.Naziv">Detalji</a></td>
                        </tr>
                    }
                }
            </table>
        </form>
    </div>
    <div id="second">
        <form action="~/Home/Registracija" method="post">
            <h1>Registruj novog clana:</h1><br />
            Korisnicko ime:<input type="text" name="korisnickoIme" /><br />
            Lozinka:<input type="password" name="lozinka" /><br />
            Ime:<input type="text" name="ime" /><br />
            Prezime:<input type="text" name="prezime" /><br />
            Pol:<input type="radio" id="muski" name="pol" value="Muski" /><label id="muski">Muski</label>
            <input type="radio" id="zenski" name="pol" value="Zenski" /><label id="zenski">Zenski</label><br />
            Email:<input type="email" name="email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" /><br />
            Datum rodjenja:<input type="date" name="datumRodjenja" /><br /><br />
            <input type="submit" class="button" value="Registruj se" />
        </form>
        <h2> @ViewBag.korisnik</h2>
    </div>
    @if (ViewBag.uspesnaPrijava == "jeste")
    {
        <div id="third">
            <form action="~/Home/Logout" method="post">
                <h1>Izloguj se:</h1><br />
                <input type="submit" class="button2" value="Izloguj se" />
            </form>
            <hr />
            <form action="~/Home/UrediProfil" method="post">
                <h1>Uredi svoj profil:</h1><br />
                <input type="submit" class="button2" value="Moj profil" />
            </form>
        </div>
    }
    else
    {
        <div id="third">
            <form action="~/Home/Prijava" method="post">
                <h1>Prijavi se:</h1><br />
                Korisnicko ime:<input type="text" name="korisnickoIme" /><br />
                Lozinka:<input type="password" name="lozinka" /><br /><br />
                <input type="submit" class="button2" value="Prijavi se" />
                <br />
                <h2> @ViewBag.prijavljen</h2>
            </form>
        </div>
    }
</body>
</html>